<section class="kalzada_header">
  <div id="contactIconCont">
    <div id="emailNumCont">
      <p id="headerTxt1"><span class="fa-regular fa-envelope fa-xl"></span> example@email.com</p>
      <p id="headerTxt2"><span class="fa fa-phone fa-xl"></span> 123 4567 789</p>
    </div>
    <div id="iconsCont">
      <i class="fa-brands fa-twitter fa-xl"></i>
      <i class="fa-brands fa-facebook fa-xl"></i>
      <i class="fa-brands fa-linkedin fa-xl"></i>
      <i class="fa-brands fa-pinterest fa-xl"></i>
    </div>
  </div>
  <div id="logoSearchCont">
    <img class="logoImg" src="{{'lorem-logo-w.png'|asset_url|image_tag:'logo'}}" alt="logo"/>
    <div id="searchCont">
      <input id="headerSearchTxt" type="text" placeholder="Search here..."/>
      <select id="selCat">
        <option>All Categories</option>
        <option>Vape</option>
      </select>
      <button id="headersearchbtn"><i class="fa fa-magnifying-glass fa-xl"></i></button>
    </div>
    <div id="iconsCont2">
      <i class="fa-regular fa-user fa-xl"></i>
      <i class="fa-regular fa-heart fa-xl"></i>
      <i class="fa fa-cart-shopping fa-xl"></i>
    </div>
  </div>
  <div id="menuMainCont">
    <div id="menuCont">
      <div id="dropCont">
        <i class="fa fa-bars fa-xl"></i>
        <select id="selCat2">
          <option>SHOP BY DEPARTMENT</option>
          <option>SHOP BY CATEGORY</option>
        </select>
      </div>
      <div class="headMenus">
        {% assign num=0 %}
        {% for link in linklists.main-menu.links %}
          {% if num == 0 %}
            <a href="{{ link.url }}" class="activeMenu">{{ link.title }}</a>
            {% assign num = 1 %}
          {% else%}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endif %}
        {% endfor %}
      </div>

    </div>
  </div>
</section>
<style>

  .kalzada_header{
    display:flex;
    flex-flow:column;
    justify-content:center;
  }
  

  /*menu*/
  #menuMainCont{
    width: 100%;
    height: 60px;
    background: #2B2B2B;

    display:flex;
    justify-content:center;
  }

  #menuCont{
    width: 80%;
    height: 60px;
    display:flex;
    justify-content:space-between;
  }

  #dropCont{
    width: 254px;
    height: 60px;
    background: #74B6C7;
    padding:0 10px;
  }

  #dropCont i{
    color:#ffffff;
  }

  #selCat2{
    width: 200px;
    height: 60px;
    background: none;
    border:none;
    margin-left:8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  div.headMenus{
    width:50%;
    display:flex;
    justify-content:start;
    flex-flow:row;
    align-items:start;
    padding:10px;
    gap:60px;
  }

  .headMenus a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-decoration:none;
    text-transform: uppercase;
    margin-top:10px;
    color: #FFFFFF;
  }

  a.activeMenu{
    color: #74B6C7;
  }

  /*logoSearch*/
  #logoSearchCont{
    display:flex;
    justify-content:space-between;
    margin:auto;
    width:81%;
  }

  #searchCont{
    height:50px;
    background: #F4F4F4;
    width:60%;
    margin-top:15px;
    display:flex;
    justify-content:space-between;
  }

  #headerSearchTxt{
    width: 470px;
    height: 50px;

    background: #F4F6F5;
    border:none;
    border-right: 1px solid #D0D0D0;
    padding:0 20px;
  }

  #selCat{
    width: 126px;
    height: 50px;
    background: #F4F6F5;
    border:none;
  }

  #headersearchbtn{
    background: #74B6C7;
    width: 70px;
    height: 50px;
    border:none;
  }

  #iconsCont2{
    display:flex;
    justify-content:space-between;
    gap:0 10px;
    padding-top:40px;
  }

  /*contact*/
  #contactIconCont{
    display:flex;
    justify-content:space-between;
    margin:auto;
    width:80%;
    height:44px;
  }

  #emailNumCont{
    display:flex;
    justify-content:space-between;
    gap:0 5px;
    padding:0px;
    margin-top:-10px;
    
  }

  #iconsCont{
    display:flex;
    justify-content:space-between;
    gap:0 10px;
    padding-top:20px;
  }
</style>
{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ]
}
{% endschema %}
